

.aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 850px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.507);
    
}

.about h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 3px 3px black;
}

.about p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    text-shadow: 2px 2px black;
}

.order a {
    text-decoration: none;
  }