.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    height: 12vh;
    background-color: brown;
    text-shadow: 3px 3px black;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.socialMedia svg {
    cursor: pointer;
    height: 50px;
    width: 50px;
}